/* .wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
ul {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}
li {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}
p {
  padding-left: 20px;
} */
