.button__state {
  padding-top: 30px;
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.wrapper {
  /* min-height: 100%; */
  display: flex;
  flex-direction: column;
  overflow: clip;
}
/* h1 {
  font-weight: 700;
  font-size: 25px;
}
h2 {
  font-weight: 700;
  font-size: 25px;
} */
ul {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}
li {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}
p {
  padding-left: 20px;
}
